*{
    background-color: rgb(0, 0, 0, 10%);
}
body{
    background-color: rgb(0, 0, 0, 10%);
}

body p{
    color: rgb(138, 43, 226, 50%);
    font-family: "Inter", Arial, Helvetica, sans-serif;
    line-height: 1;
}

.glass-table{
    border-collapse: collapse;
    width: 400px;
    height: 400px;
}
.glass-table td{
    width: 50%;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
}
.glass-table td{
    background: radial-gradient(circle at center,
    rgba(138, 43, 226, 0.4),
    rgba(255, 217, 0, 0.822)

    );
}