/* importo lo comun */
@import url('style.css');


.container {
    display: flex;
    /* flex-direction: row; */
    width: 90%;
    transition: all 1s ease;
}
.estilosCss {
    display: flex;
    /* flex-direction: row; */
}
.especial {
    flex-basis: 90%;
    flex-shrink: 0;
}
.normal {
    
    
}
